<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!-- For Tomcat-->
  <filter>
    <filter-name>SetCharacterEncoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>SetCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
   <!--End for Tomcat -->

  <listener>
    <listener-class>no.siriuslabs.image.context.RDFoxSessionContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>geoscience-image-classification</servlet-name>
    <display-name>Geoscience Image Classification</display-name>
    <description>Geoscience Image Classification</description>
    <servlet-class>no.siriuslabs.image.FrontendServlet</servlet-class>
    <!--init-param>
            <param-name>ontology-path</param-name>
            <param-value>ontology/GeologicalImagesOntology.owl</param-value>
    </init-param>
    <init-param>
            <param-name>annotations-path</param-name>
            <param-value>annotations/annotations.ttl</param-value>
    </init-param-->
  </servlet>
  <servlet-mapping>
    <servlet-name>geoscience-image-classification</servlet-name>
    <url-pattern>/gic/*</url-pattern>
  </servlet-mapping>
  
  
   <context-param>
            <param-name>ontology-path</param-name>
            <param-value>ontology/</param-value>
   </context-param><context-param>
            <param-name>ontology-filename</param-name>
            <param-value>GIC_Ontology.owl</param-value>
   </context-param>
   <context-param>
            <param-name>annotations-path</param-name>
            <param-value>annotations/</param-value>
   </context-param>
    <context-param>
            <param-name>annotations-filename</param-name>
            <param-value>annotations.ttl</param-value>
   </context-param>
  
</web-app>

