target/

## eclipse ##
.classpath
.project
.settings

## IntelliJ IDEA ##
.idea
*.iws
*.iml
*.ipr

## NetBeans ##
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

## SemFacet deployment for Docker
/semfacet/semFacet-gic.war
